beautifulsoup4
bs4
certifi
chardet
click
cycler
distlib
filelock
kiwisolver
lxml
MarkupSafe
matplotlib
mccabe
mypy-extensions
numpy
packaging
pandas
pathspec
Pillow
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
six
soupsieve
toml
urllib3
virtualenv
